# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI
instance/
.web_cache/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/
*.cover
.coverage

# Other
*.log
*.sqlite3
*.db
